@charset "ISO-8859-1";

body {font-family: Arial, Helvetica, sans-serif;
		align: center;}


button {
  
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


button {

  color: white;

  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container{
	text-align: center;
    align-content: center;
    padding-top: 10%;
    
    
}
h2 {
	padding: 5px;
}
label{
	float: left;
}
.padCenter {
/* 	padding-left: 30%; */
/*  padding-right: 30%; */
	text-align: center;
	border: 1px solid black;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
/* 	border-top-width: 10px; */
/* 	border-left-width: 10px; */
/* 	border-right-width:10px; */
/* 	border-bottom-width: 10px; */
}
.borderDiv{
	 	padding-left: 30%; 
	    padding-right: 30%;
}

body {font-family: Arial, Helvetica, sans-serif;
		
		}
/* form {border: 3px solid #f1f1f1;} */

input[type=text], input[type=password] , input[type=button] {
	
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
 input[type=button]{
	background-color: ;
  color: white;
}

